In [1]:
i=1
n=2
while i<=10:
    print(n,' * ',i,' = ',i*n)
    i+=1

2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
2  *  10  =  20

In [ ]:
#while with list

In [3]:
l1=[1,2,3,4,5,6]

In [4]:
i=0
while i<len(l1):
    l1[i]+=100
    i+=1
l1

[101, 102, 103, 104, 105, 106]

In [ ]:
#for loop

In [5]:
l1=['mango','apple','grapes','orange']

In [6]:
for i in l1:
    print(i)

mango
apple
grapes
orange

In [7]:
l1=['orange','black','white']
l2=['cup','book','laptop']

In [8]:
for i in l1:
    for j in l2:
        print(i,j)

orange cup
orange book
orange laptop
black cup
black book
black laptop
white cup
white book
white laptop

In [9]:
for i in l1:
    for j in l2:
        print(i+' '+j)

orange cup
orange book
orange laptop
black cup
black book
black laptop
white cup
white book
white laptop

In [ ]:
#python function

In [10]:
def hello():
    print('hello world')

In [11]:
hello()

hello world

In [12]:
def add_10(x):
    return x+10

In [13]:
add_10(25)

35

In [20]:
def odd_even(x):
    if x%2==0:
        print(x,' is even')
    else:
        print(x,' is odd')

In [21]:
odd_even(25)

25  is odd

In [ ]:
#lambda function

In [23]:
g=lambda x:x*x*x

In [24]:
g(4)

64

In [ ]:
#lambda with filtr

In [28]:
l1=[95,5,65,32,8,12,14,74]

In [30]:
final_list=list(filter(lambda x:(x%2!=0),l1))
final_list

[95, 5, 65]

In [ ]:
#lambda with map

In [39]:
l1=[1,2,3,4,5,6,7,8,9]
a=map(lambda x: x*2,l1)
set(a)

{2, 4, 6, 8, 10, 12, 14, 16, 18}

In [40]:
l1=[1,2,3,4,5,6,7,8,9]
a=map(lambda x: x*2,l1)
list(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [41]:
from functools import reduce

In [44]:
sum=reduce(lambda x,y:x+y,l1)
sum

45

In [ ]:
#object oriented programming

In [9]:
class Phone:#start with capital letter
    def make_call(self):
        print('making phone call')
    def play_game(self):
        print('playing games')

In [10]:
p1=Phone()

In [11]:
p1.make_call()

making phone call

In [12]:
p1.play_game()

playing games

In [ ]:
#adding parameter

In [17]:
class Phone:
    def set_color(self,color):
        self.color=color
    def  set_cost(self,cost):
        self.cost=cost
    def show_color(self):
        return self.color
    def show_cost(self):
        return self.cost
    def make_call(self):
        print('making phone call')
    def play_game(self):
        print('playing games')

In [18]:
p2=Phone()

In [19]:
p2.set_color('blue')
p2.set_cost(10000)

In [21]:
p2.show_color()

'blue'

In [22]:
p2.make_call()

making phone call

In [ ]:
# creting class with constructor---init

In [32]:
class Employee:
    def __init__(self,name,age,salary,gender):
        self.name=name
        self.age=age
        self.salary=salary
        self.gender=gender
    
    def employee_details(self):
        print('name of the employee  : ',self.name)
        print('age of the employee   : ',self.age)
        print('salary of the employee: ',self.salary)
        print('gender of the employee: ',self.gender)

In [33]:
e1=Employee('Pritish',19,100000,'male')

In [34]:
e1.employee_details()

name of the employee  :  Pritish
age of the employee   :  19
salary of the employee:  100000
gender of the employee:  male

In [35]:
#inheretance in python

In [50]:
class Vehicle:
    def __init__(self,milage,cost):
        self.milage=milage
        self.cost=cost
        
    def show_details(self):
        print('i am a vehicles')
        print('milage of vehicles  : ',self.milage)
        print('cost of the vehicles: ',self.cost)

In [51]:
v1=Vehicle(100,100000)
v1.show_details()

i am a vehicles
milage of vehicles  :  100
cost of the vehicles:  100000

In [52]:
class Car(Vehicle):
    def show_car(self):
        print('i am a car')
        #creeating the child class from Vehicles

In [53]:
c1=Car(70,200000)
c1.show_car()

i am a car

In [54]:
c1.show_details()

i am a vehicles
milage of vehicles  :  70
cost of the vehicles:  200000

In [56]:
#over-riding init methode
class Car(Vehicle):
    def __init__(self,milage,cost,tyres,hp):
        super().__init__(milage,cost)#init from super class i.e. Vehicle
        self.tyres=tyres
        self.hp=hp
    def show_car(self):
        print('i am a car')
        print('no of tyres: ',self.tyres)
        print('value of hp: ',self.hp)

In [57]:
c1=Car(70,100000,4,450)

In [59]:
c1.show_car()

i am a car
no of tyres:  4
value of hp:  450

In [60]:
c1.show_details()

i am a vehicles
milage of vehicles  :  70
cost of the vehicles:  100000

In [61]:
#inheretance---multiple inheretance

In [83]:
class Parent1:
    def assign_string_one(self,str1):
        self.str1=str1
    def show_string_one(self):
        return self.str1
    
class Parent2:
    def assign_string_two(self,str2):
        self.str2=str2
    def show_string_two(self):
        return self.str2

In [98]:
class Child(Parent1, Parent2):
    def assign_string_three(self,str3):
        self.str3=str3
    def show_string_three(self):
        return self.str3

In [99]:
c1=Child()

In [100]:
c1.assign_string_one('one')
c1.assign_string_two('two')
c1.assign_string_three('three')

In [101]:
c1.show_string_three()

'three'

In [102]:
c1.show_string_one()

'one'

In [103]:
#multi level relationship

In [104]:
class Parent1:
    def assign_name(self,name):
        self.name=name
    def show_name(self):
        return self.name
    
class Child(Parent1):
    def assign_age(self,age):
        self.age=age
    def show_age(self):
        return self.age
    
class GrandChild(Child):
    def assign_gender(self,gender):
        self.gender=gender
    def show_gender(self):
        return self.gender

In [105]:
gc=GrandChild()

In [106]:
gc.assign_name('Pritish')
gc.assign_age(18)
gc.assign_gender('male')

In [107]:
gc.show_name()

'Pritish'

In [108]:
gc.show_age()

18