In [1]:
#library--pandas-panel data

In [2]:
#pandas series object

In [3]:
import pandas as pd
s1=pd.Series([1,2,3,4,5,6])
s1

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [4]:
type(s1)

pandas.core.series.Series

In [5]:
s1=pd.Series([1,2,3,4,5,6],index=['a','b','c','d','e','f'])
s1

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [ ]:
#series object from dictionary

In [6]:
d1={'a':1,'b':2,'c':3,'d':4}
pd.Series(d1)

a    1
b    2
c    3
d    4
dtype: int64

In [7]:
pd.Series(d1,index=['a','c','f','b','e','d'])

a    1.0
c    3.0
f    NaN
b    2.0
e    NaN
d    4.0
dtype: float64

In [8]:
s1=pd.Series([1,3,4,2,6,8,11,10])
s1[3]

2

In [9]:
s1[1:6]

1    3
2    4
3    2
4    6
5    8
dtype: int64

In [10]:
s1[:6]

0    1
1    3
2    4
3    2
4    6
5    8
dtype: int64

In [11]:
s1[-3:]

5     8
6    11
7    10
dtype: int64

In [12]:
s1[-5:-2]

3    2
4    6
5    8
dtype: int64

In [16]:
#basic math operation
s1=pd.Series([1,3,4,2,6,8,11,10])
s2=pd.Series([2,4,6,9,4,12,16,19])

In [17]:
s1+5

0     6
1     8
2     9
3     7
4    11
5    13
6    16
7    15
dtype: int64

In [18]:
s1+s2

0     3
1     7
2    10
3    11
4    10
5    20
6    27
7    29
dtype: int64

In [ ]:
#pandas dataframe--2 dimensional

In [19]:
pd.DataFrame({'name':['ronaldo','messi','neymar'],'jersey':[7,10,11]})

      name  jersey
0  ronaldo       7
1    messi      10
2   neymar      11

In [26]:
fifa=pd.read_csv('players_18.csv')

In [27]:
fifa.head()

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,32,1985-02-05,185,80,Portugal,Real Madrid,...,66+3,62+3,62+3,62+3,66+3,62+3,53+3,53+3,53+3,62+3
1,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,30,1987-06-24,170,72,Argentina,FC Barcelona,...,62+3,59+3,59+3,59+3,62+3,58+3,46+3,46+3,46+3,58+3
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar,Neymar da Silva Santos Junior,25,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,64+3,59+3,59+3,59+3,64+3,60+3,47+3,47+3,47+3,60+3
3,167495,https://sofifa.com/player/167495/manuel-neuer/...,M. Neuer,Manuel Neuer,31,1986-03-27,193,92,Germany,FC Bayern München,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,176580,https://sofifa.com/player/176580/luis-suarez/1...,L. Suárez,Luis Alberto Suárez Díaz,30,1987-01-24,182,86,Uruguay,FC Barcelona,...,68+4,66+4,66+4,66+4,68+4,65+4,59+4,59+4,59+4,65+4

In [29]:
fifa.tail()

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
17587,237463,https://sofifa.com/player/237463/adam-kelsey/1...,A. Kelsey,Adam Kelsey,17,1999-11-12,188,74,England,Scunthorpe United,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17588,231381,https://sofifa.com/player/231381/jordan-young/...,J. Young,Jordan Young,17,1999-07-31,175,71,Scotland,Swindon Town,...,32+1,30+1,30+1,30+1,32+1,32+1,29+1,29+1,29+1,32+1
17589,240404,https://sofifa.com/player/240404/jack-keeble/1...,J. Keeble,Jack Keeble,18,1999-03-22,172,66,England,Grimsby Town,...,44+1,41+1,41+1,41+1,44+1,46+1,45+1,45+1,45+1,46+1
17590,11728,https://sofifa.com/player/11728/barry-richards...,B. Richardson,Barry Richardson,47,1969-08-05,185,77,England,Wycombe Wanderers,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17591,235352,https://sofifa.com/player/235352/tommy-kassemo...,T. Käßemodel,Tommy Käßemodel,28,1988-08-09,173,75,Germany,FC Erzgebirge Aue,...,39+1,43+1,43+1,43+1,39+1,38+1,39+1,39+1,39+1,38+1

In [31]:
fifa.shape

(17592, 104)

In [33]:
fifa.describe()

,sofifa_id,age,height_cm,weight_kg,overall,potential,value_eur,wage_eur,international_reputation,weak_foot,...,passing,dribbling,defending,physic,gk_diving,gk_handling,gk_kicking,gk_reflexes,gk_speed,gk_positioning
count,17592.000000,17592.000000,17592.000000,17592.000000,17592.000000,17592.000000,1.759200e+04,17592.000000,17592.000000,17592.000000,...,15613.000000,15613.000000,15613.000000,15613.000000,1979.000000,1979.000000,1979.000000,1979.000000,1979.000000,1979.000000
mean,207461.285414,25.167804,181.262335,75.367667,66.320884,71.263074,2.404689e+06,11747.896771,1.126421,2.950489,...,57.080830,62.162429,50.762378,65.022866,65.432542,62.967660,61.632643,66.311774,39.220819,63.171299
std,32356.442078,4.616512,6.686939,6.981683,6.979345,6.084853,5.381958e+06,23260.653038,0.409292,0.660312,...,10.688956,10.555916,17.396549,9.741907,7.880674,7.915821,7.851437,8.417104,10.471409,8.769113
min,591.000000,16.000000,155.000000,49.000000,46.000000,46.000000,0.000000e+00,0.000000,1.000000,1.000000,...,24.000000,24.000000,14.000000,27.000000,39.000000,43.000000,35.000000,37.000000,12.000000,38.000000
25%,192353.000000,21.000000,177.000000,70.000000,62.000000,67.000000,3.250000e+05,2000.000000,1.000000,3.000000,...,50.000000,56.000000,34.000000,59.000000,60.000000,58.000000,56.000000,61.000000,31.000000,57.000000
50%,213983.500000,25.000000,181.000000,75.000000,66.000000,71.000000,7.000000e+05,4000.000000,1.000000,3.000000,...,58.000000,64.000000,56.000000,66.000000,65.000000,63.000000,61.000000,66.000000,41.000000,64.000000
75%,231377.250000,29.000000,186.000000,80.000000,71.000000,75.000000,2.100000e+06,12000.000000,1.000000,3.000000,...,65.000000,69.000000,65.000000,72.000000,71.000000,68.000000,66.000000,72.000000,46.000000,69.000000
max,241172.000000,47.000000,205.000000,110.000000,94.000000,94.000000,1.230000e+08,565000.000000,5.000000,5.000000,...,89.000000,96.000000,90.000000,92.000000,91.000000,91.000000,95.000000,90.000000,65.000000,91.000000

In [39]:
fifa.iloc[0:6,1:10]

,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club
0,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,32,1985-02-05,185,80,Portugal,Real Madrid
1,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,30,1987-06-24,170,72,Argentina,FC Barcelona
2,https://sofifa.com/player/190871/neymar-da-sil...,Neymar,Neymar da Silva Santos Junior,25,1992-02-05,175,68,Brazil,Paris Saint-Germain
3,https://sofifa.com/player/167495/manuel-neuer/...,M. Neuer,Manuel Neuer,31,1986-03-27,193,92,Germany,FC Bayern München
4,https://sofifa.com/player/176580/luis-suarez/1...,L. Suárez,Luis Alberto Suárez Díaz,30,1987-01-24,182,86,Uruguay,FC Barcelona
5,https://sofifa.com/player/188545/robert-lewand...,R. Lewandowski,Robert Lewandowski,28,1988-08-21,185,79,Poland,FC Bayern München

In [41]:
fifa.loc[0:5,('short_name','player_traits')]

          short_name                                      player_traits
0  Cristiano Ronaldo  Power Free-Kick, Flair, Long Shot Taker (CPU A...
1           L. Messi  Finesse Shot, Long Shot Taker (CPU AI Only), S...
2             Neymar  Diver, Flair, Speed Dribbler (CPU AI Only), Te...
3           M. Neuer  GK Long Throw, 1-on-1 Rush, Rushes Out Of Goal...
4          L. Suárez  Diver, Beat Offside Trap, Technical Dribbler (...
5     R. Lewandowski  Injury Free, Finesse Shot, Chip Shot (CPU AI O...

In [44]:
fifa.drop('long_name',axis=1)

,sofifa_id,player_url,short_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,32,1985-02-05,185,80,Portugal,Real Madrid,94,...,66+3,62+3,62+3,62+3,66+3,62+3,53+3,53+3,53+3,62+3
1,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,30,1987-06-24,170,72,Argentina,FC Barcelona,93,...,62+3,59+3,59+3,59+3,62+3,58+3,46+3,46+3,46+3,58+3
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar,25,1992-02-05,175,68,Brazil,Paris Saint-Germain,92,...,64+3,59+3,59+3,59+3,64+3,60+3,47+3,47+3,47+3,60+3
3,167495,https://sofifa.com/player/167495/manuel-neuer/...,M. Neuer,31,1986-03-27,193,92,Germany,FC Bayern München,92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,176580,https://sofifa.com/player/176580/luis-suarez/1...,L. Suárez,30,1987-01-24,182,86,Uruguay,FC Barcelona,92,...,68+4,66+4,66+4,66+4,68+4,65+4,59+4,59+4,59+4,65+4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17587,237463,https://sofifa.com/player/237463/adam-kelsey/1...,A. Kelsey,17,1999-11-12,188,74,England,Scunthorpe United,46,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17588,231381,https://sofifa.com/player/231381/jordan-young/...,J. Young,17,1999-07-31,175,71,Scotland,Swindon Town,46,...,32+1,30+1,30+1,30+1,32+1,32+1,29+1,29+1,29+1,32+1
17589,240404,https://sofifa.com/player/240404/jack-keeble/1...,J. Keeble,18,1999-03-22,172,66,England,Grimsby Town,46,...,44+1,41+1,41+1,41+1,44+1,46+1,45+1,45+1,45+1,46+1
17590,11728,https://sofifa.com/player/11728/barry-richards...,B. Richardson,47,1969-08-05,185,77,England,Wycombe Wanderers,46,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17591,235352,https://sofifa.com/player/235352/tommy-kassemo...,T. Käßemodel,28,1988-08-09,173,75,Germany,FC Erzgebirge Aue,46,...,39+1,43+1,43+1,43+1,39+1,38+1,39+1,39+1,39+1,38+1

In [45]:
fifa.drop('long_name',axis=1).head()

,sofifa_id,player_url,short_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,32,1985-02-05,185,80,Portugal,Real Madrid,94,...,66+3,62+3,62+3,62+3,66+3,62+3,53+3,53+3,53+3,62+3
1,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,30,1987-06-24,170,72,Argentina,FC Barcelona,93,...,62+3,59+3,59+3,59+3,62+3,58+3,46+3,46+3,46+3,58+3
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar,25,1992-02-05,175,68,Brazil,Paris Saint-Germain,92,...,64+3,59+3,59+3,59+3,64+3,60+3,47+3,47+3,47+3,60+3
3,167495,https://sofifa.com/player/167495/manuel-neuer/...,M. Neuer,31,1986-03-27,193,92,Germany,FC Bayern München,92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,176580,https://sofifa.com/player/176580/luis-suarez/1...,L. Suárez,30,1987-01-24,182,86,Uruguay,FC Barcelona,92,...,68+4,66+4,66+4,66+4,68+4,65+4,59+4,59+4,59+4,65+4

In [49]:
fifa.mean()

sofifa_id                   2.074613e+05
age                         2.516780e+01
height_cm                   1.812623e+02
weight_kg                   7.536767e+01
overall                     6.632088e+01
potential                   7.126307e+01
value_eur                   2.404689e+06
wage_eur                    1.174790e+04
international_reputation    1.126421e+00
weak_foot                   2.950489e+00
skill_moves                 2.317758e+00
release_clause_eur          4.516291e+06
team_jersey_number          1.979252e+01
contract_valid_until        2.019185e+03
nation_jersey_number        1.212010e+01
pace                        6.796766e+01
shooting                    5.234132e+01
passing                     5.708083e+01
dribbling                   6.216243e+01
defending                   5.076238e+01
physic                      6.502287e+01
gk_diving                   6.543254e+01
gk_handling                 6.296766e+01
gk_kicking                  6.163264e+01
gk_reflexes                 6.631177e+01
gk_speed                    3.922082e+01
gk_positioning              6.317130e+01
dtype: float64

In [50]:
fifa.median()

sofifa_id                    213983.5
age                              25.0
height_cm                       181.0
weight_kg                        75.0
overall                          66.0
potential                        71.0
value_eur                    700000.0
wage_eur                       4000.0
international_reputation          1.0
weak_foot                         3.0
skill_moves                       2.0
release_clause_eur          1200000.0
team_jersey_number               17.0
contract_valid_until           2019.0
nation_jersey_number             12.0
pace                             69.0
shooting                         54.0
passing                          58.0
dribbling                        64.0
defending                        56.0
physic                           66.0
gk_diving                        65.0
gk_handling                      63.0
gk_kicking                       61.0
gk_reflexes                      66.0
gk_speed                         41.0
gk_positioning                   64.0
dtype: float64

In [52]:
fifa.max()

sofifa_id                                                             241172
player_url                 https://sofifa.com/player/9833/diederik-boer/1...
short_name                                                     Óscar Whalley
long_name                                                            황희찬 黄喜灿
age                                                                       47
                                                 ...
goalkeeping_diving                                                      91+2
goalkeeping_handling                                                      91
goalkeeping_kicking                                                       95
goalkeeping_positioning                                                   91
goalkeeping_reflexes                                                      90
Length: 72, dtype: object

In [53]:
def rating(x):
    return x/10

In [54]:
fifa[['pace','dribbling']].apply(rating)

       pace  dribbling
0       9.0        9.0
1       8.9        9.6
2       9.2        9.5
3       NaN        NaN
4       8.2        8.7
...     ...        ...
17587   NaN        NaN
17588   5.8        4.3
17589   6.3        3.4
17590   NaN        NaN
17591   2.3        4.5

[17592 rows x 2 columns]

In [57]:
fifa['nation_position'].value_counts()

SUB    600
RCB     50
LCB     50
GK      50
RM      39
LM      39
RB      38
LB      38
ST      32
RCM     27
LCM     26
CAM     24
RDM     19
LDM     19
LS      18
RS      18
CB      12
CDM      9
RW       8
LW       8
RWB      5
LWB      5
CM       4
RF       3
LF       3
RAM      2
LAM      2
CF       1
Name: nation_position, dtype: int64

In [58]:
fifa['weak_foot'].value_counts()

3    10962
2     3665
4     2604
5      228
1      133
Name: weak_foot, dtype: int64

In [61]:
fifa.sort_values(by='shooting')

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
4851,219184,https://sofifa.com/player/219184/jherson-verga...,J. Vergara,Jherson Vergara Amú,23,1994-05-26,187,80,Colombia,Milan,...,57+1,61+1,61+1,61+1,57+1,61+1,70+1,70+1,70+1,61+1
2727,210964,https://sofifa.com/player/210964/federico-cecc...,F. Ceccherini,Federico Ceccherini,25,1992-05-11,187,75,Italy,Crotone,...,61+1,65+1,65+1,65+1,61+1,64+1,72+1,72+1,72+1,64+1
7862,224378,https://sofifa.com/player/224378/mattia-bani/1...,M. Bani,Mattia Bani,23,1993-12-10,189,79,Italy,Chievo Verona,...,56+1,58+1,58+1,58+1,56+1,58+1,67+1,67+1,67+1,58+1
6187,216068,https://sofifa.com/player/216068/fabrizio-poli...,F. Poli,Fabrizio Poli,28,1989-05-26,185,75,Italy,Carpi,...,56+1,58+1,58+1,58+1,56+1,61+1,68+1,68+1,68+1,61+1
10124,223009,https://sofifa.com/player/223009/edoardo-lanci...,E. Lancini,Edoardo Lancini,23,1994-04-10,188,79,Italy,Brescia,...,54+1,56+1,56+1,56+1,54+1,58+1,65+1,65+1,65+1,58+1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17565,221669,https://sofifa.com/player/221669/mark-hurst/18...,M. Hurst,Mark Hurst,21,1995-10-21,185,78,Scotland,St. Johnstone FC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17566,229130,https://sofifa.com/player/229130/kevin-horgan/...,K. Horgan,Kevin Horgan,20,1997-04-26,192,82,Republic of Ireland,Shamrock Rovers,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17567,239933,https://sofifa.com/player/239933/vladislav-sor...,V. Soromytko,Vladislav Soromytko,22,1994-09-29,190,80,Russia,SKA Khabarovsk,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17587,237463,https://sofifa.com/player/237463/adam-kelsey/1...,A. Kelsey,Adam Kelsey,17,1999-11-12,188,74,England,Scunthorpe United,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17590,11728,https://sofifa.com/player/11728/barry-richards...,B. Richardson,Barry Richardson,47,1969-08-05,185,77,England,Wycombe Wanderers,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN